.social {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  a {
    border: 1px solid $color-silver;
    box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
    margin: .2rem;

    .fa {
      color: $color-blue;
      font-size: 3em;
      height: 3rem;
      margin: .75em;
      width: 3rem;
    }
  }
}
