.DS_Store
.idea
*.tmproj
.project
.settings
.svn
*.swp
.livereload
.sass-cache
.rake_cache
typescript
vendor/bundle
.bundle/
tmp/**/*
log/**/*
tmp/*
log/*
.powenv
.env
db/*.sqlite3
.byebug_history
examples.txt
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
.keep
coverage/*
bin/cc

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
