.article-list {
  header {
    text-align: center;

    .fa {
      font-size: 2rem;
    }
  }

  .article-list-total {
    border-top: 1px solid $color-grey;
    color: $color-grey;
    font-size: .75rem;
  }

  article {
    margin: 2rem 0;

    h2,
    p {
      margin: 0;
    }

    time {
      color: $color-grey;
    }
  }
}
