#disqus_thread
javascript:
  var disqus_config = function () {
    this.page.url = "#{url}"
    this.page.identifier = "#{slug}"
  };

  (function() {
    var d = document, s = d.createElement('script');
    s.src = '//ralin.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
