.fb-like{'data-href' => "#{request.original_url}",
  'data-action' => 'like',
  'data-layout' => 'box_count',
  'data-size' => 'small',
  'data-show-faces' => 'false',
  'data-share' => 'false',
  'data-width' => '40'}
