.container {
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;

  @media (min-width: $small-width) {
    width: 700px;
  }

  @media (min-width: $medium-width) {
    width: 900px;
  }

  @media (min-width: $large-width) {
    width: 1000px;
  }
}
