.navbar {
  letter-spacing: .1rem;
  margin-bottom: $spacing;
  padding: $spacing 0;
  text-transform: uppercase;

  .container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @media (min-width: $super-small-width) {
      flex-direction: row;
    }

    @media (min-width: $extra-small-width) {
      justify-content: flex-end;
    }
  }

  span {
    border-bottom: 1px solid transparent;
    display: none;

    @media (min-width: $extra-small-width) {
      display: block;
    }
  }

  .brand {
    display: none;
    flex: 1;
    margin-left: .1rem;

    &:hover {
      border-color: transparent;
      transition-property: none;
    }

    @media (min-width: $extra-small-width) {
      display: block;
    }
  }

  a {
    border-bottom: 1px solid transparent;
    color: $color-text;
    display: block;
    margin: $small-spacing;

    &:hover {
      border-bottom: 1px solid $color-text;
      transition: all .4s ease-in-out;
    }

    &:hover,
    &:link,
    &:active,
    &:visited {
      outline: 0;
      text-decoration: none;
    }

    @media (min-width: $extra-small-width) {
      margin: $spacing;
    }
  }
}
