<div class="inner cover">
  <h1 class="cover-heading">Hello,</h1>
  <p class="lead">I'm Ralin, software developer and open source enthusiast.</p>
  <p class="lead">
    <a href="#" class="btn btn-lg btn-default">Learn more</a>
  </p>
</div>
