.blog-tags {
  margin-bottom: $large-spacing;

  a {
    background-color: $color-light-blue;
    border-radius: $border-radius;
    color: $color-white;
    font-size: .8rem;
    margin-right: $small-spacing;
    padding: .3rem .6rem;
  }
}
