.blog-tags {
  margin-bottom: $large-spacing;

  a {
    background-color: $color-light-blue;
    border-radius: $base-border-radius;
    color: $color-white;
    font-weight: 300;
    margin-right: $extra-small-spacing;
    padding: $extra-small-spacing $small-spacing;
  }
}
