.blog-article {
  header {
    border-bottom: 1px solid $color-blue;
    font-weight: 300;
    min-height: 1.5rem;

    a {
      float: left;
      margin-right: $small-spacing;
    }

    a:nth-child(3) {
      float: right;
      margin-right: 0;
    }
  }

  article {
    margin: $large-spacing 0;
  }

  h1 { margin: 0; }
  ul { list-style-type: initial; }
  p { margin: $small-spacing 0; }

  img {
    display: block;
    margin: $base-spacing auto;
    width: 75%;
  }

  blockquote {
    background: $color-light-grey;
    border-left: .2rem solid $color-blue;
    margin: $small-spacing 0;
    padding: $small-spacing;
    quotes: '\201C''\201D''\2018''\2019';

    &::before {
      color: $color-blue;
      content: open-quote;
      font-size: 4em;
      line-height: .1em;
      margin-right: .25em;
      vertical-align: -.5em;
    }

    p {
      margin: 0;
    }
  }

  pre,
  code {
    overflow: auto;
    white-space: pre;
    word-break: normal;
    word-wrap: normal;
  }

  pre {
    background-color: $color-light-grey;
    border-radius: $base-border-radius;
    font-size: 90%;
    padding: $base-spacing;
  }

  .note {
    background: $color-pale;
    border-left: 1px solid $color-blue;
    padding: $small-spacing $base-spacing;
  }

  footer {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: $large-spacing 0;

    span {
      font-size: 1rem;
      font-weight: 400;
      margin-right: $base-spacing;
    }
  }

  .social-share-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .ssb-icon {
      $icon-size: 2.5rem;
      background-size: $icon-size;
      height: $icon-size;
      margin: .375rem;
      width: $icon-size;
    }
  }

  form {
    input,
    select,
    textarea {
      border: 1px solid $color-blue;
      border-radius: $base-border-radius;
      padding: $small-spacing;
      width: 100%;
    }

    textarea { min-height: 20vh; }

    [type=submit] {
      background-color: $color-blue;
      border: 0;
      color: $color-white;
      cursor: pointer;
      font-size: 1rem;
      letter-spacing: .1rem;
      margin-top: $base-spacing;
      padding: $small-spacing $base-spacing;
      width: auto;
    }

    .input { margin-top: $base-spacing; }
  }
}
