.blog-articles {
  header {
    text-align: center;

    h1 { margin-top: 0; }

    img {
      border: 1px solid $color-grey;
      border-radius: 50%;
      box-shadow: 0 5px 5px -3px $color-grey;
      width: auto;
    }
  }

  .actions {
    border-bottom: 1px solid $color-grey;
    text-align: left;

    a { margin-right: .5rem; }
  }

  .total {
    color: $color-grey;
    font-size: .75rem;
    margin-bottom: 3rem;
    padding: .1rem 0 0;
    text-align: left;
  }

  ul {
    list-style-type: none;
    margin: 4rem 0;
    padding: 0;
  }

  li {
    margin: 3rem 0;

    h2,
    p { margin: 0; }

    time { color: $color-grey; }
  }
}
