$super-small-width: 320px;
$extra-small-width: 480px;
$small-width: 768px;
$medium-width: 992px;
$large-width: 1200px;

$spacing: 1.5rem;
$small-spacing: ($spacing / 2);
$large-spacing: ($spacing * 2);

$color-text: #1b1b1e;
$color-light-blue: #06aed5;
$color-blue: #086788;
$color-pale: #fff1d0;
$color-red: #dd1c1a;
$color-light-grey: #f9f9f9;
$color-silver: #c0c0c0;
$color-grey: #808080;
$color-white: #fff;

$border-radius: 4px;
$box-shadow: rgba(50, 50, 50, .17);
