* {
  box-sizing: border-box;
}

body {
  background: $color-white;
  color: $color-text;
  font-family: 'Roboto', sans-serif;
  font-size: .875rem;
  font-weight: 300;
  line-height: 1.6;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 { font-weight: 300; }
h1 { font-size: 2rem; letter-spacing: .15rem; }
h2 { letter-spacing: .1rem; }
a { color: $color-blue; text-decoration: none; }
img { width: 100%; }
textarea { overflow: auto; }
