.login {
  margin: 2rem 0 4rem;

  .panel {
    border: 1px solid $color-silver;
    margin: 0 auto;
    padding: 4rem 1rem 6rem;
    width: 100%;

    @media (min-width: $extra-small-width) {
      width: 25rem;
    }
  }

  h1 {
    margin: 0;
    letter-spacing: .1rem;
  }

  input {
    border: 1px solid $color-blue;
    border-radius: 2px;
    font-size: .9rem;
    height: 4rem;
    margin: .25rem auto;
    padding: .375rem .75rem;
    width: 100%;
  }

  [type=submit] {
    background-color: $color-blue;
    border: 0;
    color: $color-white;
    cursor: pointer;
    font-size: 1.1rem;
    letter-spacing: .15rem;
  }
}
