.navbar {
  letter-spacing: .1rem;
  margin-bottom: 1rem;
  padding: 1.5rem 0;
  text-transform: uppercase;

  .layout-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @media (min-width: $super-small-width) {
      flex-direction: row;
    }

    @media (min-width: $extra-small-width) {
      justify-content: flex-end;
    }
  }

  span {
    display: none;
    border-bottom: 1px solid transparent;

    @media (min-width: $extra-small-width) {
      display: block;
    }
  }

  .brand {
    display: none;
    flex: 1;
    margin-left: .1rem;

    &:hover {
      border-color: transparent;
      transition-property: none;
    }

    @media (min-width: $extra-small-width) {
      display: block;
    }
  }

  a {
    border-bottom: 1px solid transparent;
    color: $color-text;
    display: block;
    margin: .5rem;

    &:hover {
      border-bottom: 1px solid $color-text;
      transition: all .4s ease-in-out;
    }

    &:hover, &:link, &:active, &:visited {
      outline: 0;
      text-decoration: none;
    }

    @media (min-width: $extra-small-width) {
      margin: 1rem;
    }
  }
}
