.featured {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  @media (max-width: $small_width) {
    flex-direction: column;
  }

  .item {
    flex: 1;
    display: flex;
    margin: 1rem;

    .icon {
      display: flex;
      justify-content: center;
      width: 5rem;
      height: 5rem;
      margin: 1rem;
      border: 1px solid $light_text_color;
      border-radius: 50%;

      span {
        align-self: center;
        font-size: 2rem;
        color: $primary_text_color;
      }
    }

    .text {
      flex: 2;

      h2 {
        color: $primary_text_color;
        font-weight: 100;
      }
    }
  }
}

.social {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  i {
    color: $primary_text_color;
    font-size: 3em;
    margin: 1em;
  }
}
