@import 'about/feature';
@import 'about/social';

.features {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: $small-width) {
    flex-direction: row;
  }
}
