.featured {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: $extra-small-width) {
    flex-direction: row;
  }

  .item {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;

    @media (min-width: $small-width) {
      align-items: flex-start;
      flex-direction: row;
    }

    .icon {
      border: 1px solid $color-blue;
      border-radius: 50%;
      display: flex;
      height: 5rem;
      justify-content: center;
      margin: 1rem 1rem 1rem 0;
      width: 5rem;

      span {
        align-self: center;
        color: $color-blue;
        font-size: 2rem;
      }
    }

    .text {
      flex: 2;

      h2 {
        color: $color-blue;
      }
    }
  }
}

.social {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  i {
    color: $color-blue;
    font-size: 3em;
    margin: 1em;
  }
}
