.blog {
  header {
    text-align: center;

    img {
      border-radius: 100%;
    }
  }

  .total {
    border-top: 1px solid $color_text;

    p {
      font-size: .75rem;
    }
  }

  article {
    margin: 2rem 0;

    h2 {
      margin: 0;
    }

    p {
      margin: 0;
    }
  }
}

.blog-post {
  header {
    border-bottom: 1px solid $color_blue;
    margin-bottom: 2rem;

    a {
      margin-right: 1rem;
    }
  }

  form {
    input, textarea {
      width: 100%;
      margin: .15rem 0;
      border: 1px solid $color_blue;
    }

    textarea {
      min-height: 50vh;
    }

    input[type=submit] {
      width: auto;
    }
  }
  
  blockquote {
    background: #f9f9f9;
    border-left: .2rem solid $color_blue;
    margin: 1rem 0;
    padding: 1rem;
    quotes: "\201C""\201D""\2018""\2019";
  }

  blockquote:before {
    color: $color_blue;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.5em;
  }

  pre, code {
    font-family: 'Inconsolata';
    overflow: auto;
    word-break: normal;
    word-wrap: normal;
    white-space: pre;
  }

  pre {
    padding: 1rem;
    font-size: 90%;
    background-color: #f7f7f7;
    border-radius: 3px;
  }

  .note {
    background: $color_pale;
    border-left: 1px solid $color_blue;
    padding: .75rem 1rem;
  }
}
