.article {
  header {
    border-bottom: 1px solid $color-blue;
    margin-bottom: 2rem;
    min-height: 1.5rem;

    a {
      float: left;
      margin-right: .5rem;
    }

    a:nth-child(3) {
      float: right;
      margin-right: 0;
    }
  }

  article {
    margin: 0 0 2rem;

    ul {
      list-style-type: initial;
    }

    blockquote {
      background: $color-light-grey;
      border-left: .2rem solid $color-blue;
      margin: 1rem 0;
      padding: 1rem;
      quotes: '\201C''\201D''\2018''\2019';

      &:before {
        color: $color-blue;
        content: open-quote;
        font-size: 4em;
        line-height: .1em;
        margin-right: .25em;
        vertical-align: -.5em;
      }
    }

    pre, code {
      overflow: auto;
      white-space: pre;
      word-break: normal;
      word-wrap: normal;
    }

    pre {
      background-color: $color-light-grey;
      border-radius: 3px;
      font-size: 90%;
      padding: 1rem;
    }

    .note {
      background: $color-pale;
      border-left: 1px solid $color-blue;
      padding: .75rem 1rem;
    }
  }

  footer {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    span {
      font-size: 1rem;
      font-weight: 400;
      margin-right: 1rem;
    }
  }

  .social-share-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .ssb-icon {
      $icon-size: 2rem;
      background-size: $icon-size;
      height: $icon-size;
      margin: .375rem;
      width: $icon-size;
    }
  }

  form {
    .input {
      margin-top: 1rem;
    }

    input, select, textarea {
      border: 1px solid $color-blue;
      border-radius: 3px;
      padding: .5rem;
      width: 100%;
    }

    textarea {
      min-height: 20vh;
    }

    [type=submit] {
      background-color: $color-blue;
      border: 0;
      color: $color-white;
      cursor: pointer;
      font-size: 1rem;
      letter-spacing: .1rem;
      margin-top: 1rem;
      padding: .5rem 1.5rem;
      width: auto;
    }
  }
}
