.blog {
  header {
    text-align: center;

    img {
      border-radius: 100%;
    }
  }

  .total {
    border-top: 1px solid $color_text;

    p {
      font-size: .75rem;
    }
  }

  article {
    margin: 2rem 0;

    h2 {
      margin: 0;
    }

    p {
      margin: 0;
    }
  }
}

.blog-post {
  header {
    border-bottom: 1px solid $color_blue;
    margin-bottom: 2rem;

    a {
      margin-right: 1rem;
    }
  }

  form {
    input, textarea {
      width: 100%;
      margin: .15rem 0;
      border: 1px solid $color_blue;
    }

    textarea {
      min-height: 50vh;
    }

    input[type=submit] {
      width: auto;
    }
  }
}
