.stage {
  .wrap {
    font-size: 1.5rem;

    a {
      font-weight: 100;
      text-decoration: none;
      outline: 0;
      padding: .7rem 2rem;
      margin-top: 2rem;
      color: white;
      background-color: $color_blue;
      border-radius: 6px;
    }
  }
}
