.stage {
  .wrap {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    height: 50vh;
    justify-content: center;

    h1,
    p {
      align-self: center;
      margin: 0;
    }

    p {
      color: $color-red;
    }
  }
}
