html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 80px 0 100px 0;
}

nav {
  a img {
    width: 40px;
    margin-top: 5px;
    margin-left: 10px;
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;

  p {
    margin: 15px;
    font-size: 95%;
  }
}

@media (max-width: 500px) {
  body {
    margin-bottom: 150px;
  }
}
