$super_small_width: 320px;
$extra_small_width: 480px;
$small_width: 768px;
$medium_width: 992px;
$large_width: 1200px;

$primary_text_color: #777;
$light_text_color: #bbb;
$dark_text_color: #333;

* {
  box-sizing: border-box;
}

body {
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  font-size: 0.875rem;
  line-height: 1.6;
  color: black;
  background-color: white;
  margin: 0;
}

.container {
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: $small_width) {
  .container {
    width: 700px;
  }
}

@media (min-width: $medium_width) {
  .container {
    width: 900px;
  }
}

@media (min-width: $large_width) {
  .container {
    width: 1000px;
  }
}

.stage {
  background-image: image-url("background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}
