nav {
  letter-spacing: .1rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-bottom: 1rem;
  text-transform: uppercase;

  ul {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ul li {
    float: left;
  }

  ul li a {
    color: #777;
    padding: 0.875rem;
    text-decoration: none;
    display: block;

    &:hover {
      color: #333;
    }

    &:hover, &:link, &:active, &:visited {
      text-decoration: none;
      outline: 0;
    }
  }
}

@media (max-width: 350px) {
  nav ul li a {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
}
