nav {
  letter-spacing: .1rem;
  padding: 1.5rem 0;
  margin-bottom: 1rem;
  text-transform: uppercase;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    .brand {
      flex: 1;
      padding: 0.875rem;

      @media (max-width: 400px) {
        display: none;
      }
    }

    a {
      color: #777;
      padding: 0.875rem;
      text-decoration: none;
      display: block;

      &:hover {
        color: #333;
      }

      &:hover, &:link, &:active, &:visited {
        text-decoration: none;
        outline: 0;
      }

      @media (max-width: 400px) {
        padding-left: 0.4rem;
        padding-right: 0.4rem;
      }
    }
  }
}
