nav {
  letter-spacing: .1rem;
  padding: 1.5rem 0;
  margin-bottom: 1rem;
  text-transform: uppercase;

  .container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

    @media (min-width: $super_small_width) {
      flex-direction: row;
    }

    @media (min-width: $extra_small_width) {
      justify-content: flex-end;
    }

    .brand {
      flex: 1;
      display: none;

      @media (min-width: $extra_small_width) {
        display: block;
        margin: 1rem;
      }
    }

    a {
      color: $color_text;
      margin: .5rem;
      border-bottom: 1px solid transparent;
      display: block;

      &:hover {
        border-bottom: 1px solid $color_text;
      }

      &:hover, &:link, &:active, &:visited {
        text-decoration: none;
        outline: 0;
      }

      @media (min-width: $extra_small_width) {
        margin: 1rem;
      }
    }
  }
}
