.login-form {
  padding: 3rem 0 6rem;

  input {
    display: block;
    width: 20rem;
    height: 2.5rem;
    margin: .25rem auto;
    padding: .375rem .75rem;
    font-size: .9rem;
    background-color: $color_pale;
    border: 1px solid $color_light_blue;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

    @media (max-width: $extra_small_width) {
      width: 100%;
    }
  }

  input[type=submit] {
    color: white;
    background-color: $color_blue;
    cursor: pointer;
    font-size: 1.1rem;
    letter-spacing: .15rem;
  }
}
