<footer class="footer">
  <div class="container">
    <p class="text-muted text-center">
      <% t('footer.text.lines').each do |line| %>
        <%= raw line %>
      <% end %>
    </p>
  </div>
</footer>
