<footer class="footer">
  <div class="container">
    <p class="text-muted text-center">
    This website is built with open source software like Ruby on Rails, jQuery and Bootstrap using the Vim editor and runs on Apache on Linux.<br/>
    Its source code is open and can be found under my Github profile: <a href="https://github.com/ralinc/ralin.net" target="_blank">ralinc/ralin.net</a>
    </p>
  </div>
</footer>
