<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand">ralin.net</h3>
    <nav>
      <ul class="nav masthead-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Blog</a></li>
      </ul>
    </nav>
  </div>
</div>

